.img_responsive{
  width: 100%;    
  height: auto;
}
.container{  
  width: 100%;
  height: 1000px;
}

.itembox{  
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.imgbox{ 
width: 100%;
height: auto;
margin: 2%;
}

.image{  
  width: 100%;
}

.textbox{  
  padding: 20px;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
a {
  text-decoration-line: none;
}
#title a{
  text-decoration-line: none;
}

li{
list-style:none;
font-family: 'Noto Sans KR', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dropmenu{
  border: none;
  border: 0px;
  padding: 0px;
  font-family: 'Dongle', sans-serif;
  font-size:20px;
  width: 1500px;
  ;
}
#dropmenu ul{
  height: 100px;
  width: 0px;
  list-style: none;
}
#dropmenu li{
  float: left;
  padding: 15px 70px;
  width: 150px;
  
}

#current{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1px;
  padding-bottom: 2px;

}

#effect{
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 6px;
  padding-left: 6px;
}

#dropmenu li a:hover, .dropmenu ul li:hover a{
  text-decoration: none;
  border-radius: 10px;
  background:#4162c4;
  color:white;
}

#dropmenu li ul{
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  width: 70px;
  z-index: 200;
}
#dropmenu li:hover ul{
  display: block;
}
#dropmenu li li{
  display: block;
  float: none;
  padding-top: 15%;
  padding-left: 0%;
  width: 100px;
}
#l1{
  text-decoration-line:none ;
}
#searchbar{
  margin: 0px;
  width:250px;
  height:35px;
}

#searchbutton{
  background-color: #ffffff;
  padding-top: 4px;
  height:35px;
}


#list1{
  background-color: #ffffff00;
}

#navbar-brand{
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  color: rgb(61, 147, 234);
  text-decoration-line: none;
  float: left;
}

#header{
  height:100px;
  width: auto;
  padding-top: 1%;
}

#right-menu{
  float:right;
  margin: -30px 0px;
  padding:0px;
  border: none;
  width:auto;
}

#logo{
  padding-left:60px;
  width:auto;
}

.main{
  width: auto;
  padding-top: 10%;
  display:flex;
  background-color: #E8F6FF;
  padding-left: 15%;
  padding-bottom: 5%;
}

.main2{
  width: auto;
  padding-top: 5%;
  display:flex;
  padding-left: 20%;
  padding-bottom: 3%;
}

.downloadweb{
  padding-top: 3%;
  padding-left: 30%;
}

.downloadweb2{
  padding-top: 5%;
}

.downloadwebimg{
  padding-left: 5%;
}

.downloadbtn{
  text-decoration-line: none;
  padding: 3px 40px 4px 40px;
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  user-select: none;
}

.text1{
  font-size: 20px;
}

.app1{
  float: left;
  text-align: left;
  min-width: 350px;
  padding-left: 5%;
  display: flex;
}

.app2{
  float: right;
  padding-left: 5%;
  min-width: 350px;
  display: flex;
}

.IOS{
  padding-top: 200px;
  padding-left: 180px;
  padding-right: 180px;
  padding-bottom: 200px;
  background-color: #E8F6FF;
  border-style: solid;
  border-radius: 10%;
  border-color: #E8F6FF;
}

.Android{
  padding-left: 180px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 180px;
  background-color: #E8F6FF;
  border-style: solid;
  border-radius: 10%;
  border-color: #E8F6FF;
}

#trans{
  text-align: center;
}

#question{
  transition: height 0.5s;
  height: 5%;
}

#question:hover {
  transition: height 0.5s;
  height: 10%;
}

/*footer*/
@media (min-width: 480px) {
  #footer .menu a{
    font-size: 0.5rem;
  }

  #footer .menu{
    padding-left: 17%;
  }

  #footer .info{
    font-size: 0.7rem;
  }
  .left-list{
    float:left;
    text-align: left;
    min-width: 350px;
    padding-left: 25%;
    display: flex;
  }
  .right-list{
    text-align: left;
    min-width: 350px;
    padding-left: 33%;
    display: flex;
  }
  .right-bottom{
    padding-left: 19%;
    }
}

@media (min-width: 720px) {
  #footer .menu a{
    font-size: 0.5rem;
  }

  #footer .menu{
    padding-left: 35%;
  }

  #footer .info{
    font-size: 0.7rem;
  }
  .left-list{
    float:left;
    text-align: left;
    min-width: 350px;
    padding-left: 40%;
    display: flex;
  }
  .right-list{
    text-align: left;
    min-width: 350px;
    padding-left: 43%;
    display: flex;
  }
  .right-bottom{
    padding-left: 30%;
    }
}

@media (min-width: 1024px) {
  #footer .menu a{
    font-size: 1.0rem;
  }

  #footer .menu{
    padding-left: 37%;
  }

  #footer .info{
    font-size: 1.0rem;
  }
  .left-list{
    float:left;
    text-align: left;
    min-width: 350px;
    padding-left: 42%;
    display: flex;
  }
  .right-list{
    text-align: left;
    min-width: 350px;
    padding-left: 44%;
    display: flex;
  }
  .right-bottom{
    padding-left: 32%;
    }
}

#footer{
  bottom: 0;
}

.footer-bottom{
  background-color: #E8F6FF;
}

.footer-inner{
  background-color: #d1ebfb;
  height: 70px;
}

#footer .menu{
  display: flex;
  padding-top: 20px;
  float: left;
  color: #333333;
}

#footer .menu a:first-child {
  padding-left: 0px;
}

#footer .menu a{
  padding: 0 15px;
  color: inherit;
  text-decoration: none;
}

#footer .sns{
  display: flex;
  padding-right: 30%;
  padding-top: 10px;
  float: right;
}

#footer .info{
  background-color: #E8F6FF;
  height: 1px;
  text-align: center;
  color:#333333;
}

.span{
  padding-right: 10px;
  padding-left: 10px;
}

.boat{
  color: rgb(61, 147, 234);;
}

.left-list{
  float:left;
  text-align: left;
  min-width: 350px;
  display: flex;
}


.right-list{
  text-align: left;
  min-width: 350px;
  display: flex;
}



.downloadimg{
  padding-left: 20%;
}
