body {
  font-family: 'Noto Sans KR', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

#title a{
  text-decoration-line: none;
}

li{
list-style:none;
font-family: 'Noto Sans KR', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#dropmenu{
  border: none;
  border: 0px;
  padding: 0px;
  font-family: 'Dongle', sans-serif;
  font-size:20px;
  width: 1500px;
  ;
}
#dropmenu ul{
  height: 100px;
  width: 0px;
  list-style: none;
}
#dropmenu li{
  float: left;
  padding: 15px 100px;
  
}

#effect{
  padding-top: 1px;
  padding-bottom: 1px;
  padding-right: 6px;
  padding-left: 6px;
}

#dropmenu li a:hover, .dropmenu ul li:hover a{
  text-decoration: none;
  border-radius: 15px;
  background:#4162c4;
  color:white;
}

#dropmenu li ul{
  display: none;
  height: auto;
  border: 0px;
  position: absolute;
  width: 100px;
  z-index: 200;
}
#dropmenu li:hover ul{
  display: block;
}
#dropmenu li li{
  display: block;
  float: none;
  padding-top: 15%;
  padding-left: 0%;
  width: 100px;
}
#l1{
  text-decoration-line:none ;
}
#searchbar{
  margin: 0px;
  width:250px;
  height:35px;
}

#searchbutton{
  background-color: #ffffff;
  padding-top: 4px;
  height:35px;
}


#list1{
  background-color: #ffffff00;
}

#navbar-brand{
  font-family: 'Dongle', sans-serif;
  font-size: 30px;
  color: rgb(61, 147, 234);
  text-decoration-line: none;
  float: left;
}

#header{
  height:100px;
  width: auto;
  padding-top: 1%;
}

#right-menu{
  float:right;
  margin: -30px 0px;
  padding:0px;
  border: none;
  width:auto;
}

#logo{
  padding-left:60px;
  width:auto;
}

.main{
  width: auto;
  padding-top: 100px;
  display:flex;
  background-color: #E8F6FF;
  padding-left: 15%;
}

.main2{
  width: auto;
  padding-top: 100px;
  display:flex;
  padding-left: 15%;
}

#trans{
  height: 700px;
  text-align: center;
}

#question{
  transition: height 0.5s;
  height: 100px;
}

#question:hover {
  transition: height 0.5s;
  height: 20%;
}

/*footer*/
#footer{
  bottom: 0;
}

.footer-inner{
  background-color: #d1ebfb;
  height: 70px;
}

#footer .menu{
  display: flex;
  padding-left: 42%;
  padding-top: 20px;
  float: left;
  color: #333333;
}

#footer .menu a:first-child {
  padding-left: 0;
}

#footer .menu a{
  padding: 0 15px;
  color: inherit;
  text-decoration: none;
}

#footer .sns{
  display: flex;
  padding-right: 30%;
  padding-top: 10px;
  float: right;
}

#footer .info{
  padding: 40px;
  background-color: #E8F6FF;
  height: 150px;
  text-align: center;
  color:#333333;
  
}

.span{
  padding-right: 10px;
  padding-left: 10px;
}

.boat{
  color: rgb(61, 147, 234);;
}
